.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.nav-left::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #95A5A6;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

/*#sidebar ul.components {*/
/*padding: 20px 0;*/
/*border-bottom: 1px solid red;*/
/*}*/

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #33A2FF;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #95A5A6;
}

.nav-upper {
    background-color: #33CAFF;
}

.content-div {
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    width: 100%;
}

.page-header {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.errorlist{
    color: #d9534f;
}