{% load static %}
{% load compress %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Integration Tracker Portal</title>
    {% compress css %}

        <link rel="stylesheet" href="{% static 'integration_service/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'integration_service/css/base.css' %}">

        {% block css_block %}

        {% endblock %}
    {% endcompress %}

    {% compress js %}

        <script src="{% static 'integration_service/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'integration_service/js/popper.min.js' %}"></script>
        <script src="{% static 'integration_service/js/bootstrap.min.js' %}"></script>
        <script defer src="{% static 'integration_service/js/solid.js' %}"></script>
        <script defer src="{% static 'integration_service/js/fontawesome.js' %}"></script>
        {% block js_block %}

        {% endblock %}
    {% endcompress %}
</head>

<body>

<div>
    <nav class="navbar navbar-expand-lg navbar-light nav-upper">
        <a class="navbar-brand text-white" href="/">SureCash Integration Tracking Portal</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100">

                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Home</a>
                </li>

                <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user"></i>
                        {% if user.first_name or user.last_name %}
                            {{ user.first_name|upper }} {{ user.last_name|upper }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            {% block left_nav %}
            {% endblock %}

        </ul>
    </nav>

    <div class="content-div">
        <h2 class="page-header">
            {% block page_header %}
            {% endblock %}
        </h2>
        <hr>

        {% block content %}
        {% endblock %}
    </div>

</div>
<script>
    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

    });
</script>
</body>

</html>