{% extends 'integration_service/base.html' %}
{% block left_nav %}

    <li>
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-left">Main Option
            1</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <a href="#">Option 1</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-left">Main Option
            2</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
                <a href="#">Option 1</a>
            </li>
        </ul>
    </li>
{% endblock %}
