{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Integration Tracker Portal</title>

    <link rel="stylesheet" href="{% static 'integration_service/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'integration_service/css/login.css' %}">

    <script src="{% static 'integration_service/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'integration_service/js/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="wrapper">
    <div id="formContent">
        <!-- Tabs Titles -->
        <div>
            <h1>SureCash Integration Tracking Portal</h1>
        </div>
        <!-- Login Form -->
        <form method="post">
            {% csrf_token %}
            <input type="text" id="username" class="" name="username" placeholder="Username">
            <input type="password" id="password" class="" name="password" placeholder="Password">
            <input type="submit" class="" value="Log In">
        </form>
    </div>
</div>

</body>
</html>